<h1>Try vue.js</h1>
<div id="app">
  {{msg}}
  <div><input type="text" v-model="q"></div>
  <table>
    <tr>
      <th>名前</th><th>かな</th><th>メールアドレス</th>
    </tr>
    <tr v-repeat="people | filterBy q">
      <td>{{name}}</td><td>{{name_kana}}</td><td>{{email}}</td>
    </tr>
  </table>
</div>
